@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #212121;
  @apply font-mono;
}

.link {
  @apply text-gray-400 dark:text-slate-500 hover:text-gray-700 dark:hover:text-slate-200 transition select-none;
}
